.Images{
 
   color: aliceblue;   
   height: 600px;
   background-image: url("PSG-GOAT-Messi-Neymar-1-1280x720.png");
  
}
.top{
    height: 300px;
    width: 200px;
    background-color: black;

}

button:disabled{
    background-color: dimgray;
}
.tops{
    height: 400px;
    width: 200px;
    background-color: black;

}
main>section div{
    background-color: black;
    color: rgb(215, 187, 188);
}
.head{
    border-top: 2px solid white;
}

ul li{
    list-style-type: upper-roman;
}